<!--The content below is only a placeholder and can be replaced.-->
<div>
	<div class="container card">
		<h1>New task</h1>
		<div class="col-xs-8 group">
			<input class="form-control" (keyup.enter)="newTask()" placeholder="Describe your task" type="text" [(ngModel)]="newTaskText" />
		</div>
		<div class="col-xs-4 group">
			<button class="btn btn-lg" (click)="newTask()">Add</button>
		</div>
		
	<h1>Tasks to do</h1>
	<ul *ngFor="let item of todoList">
		<li *ngIf="!item.completed">
			<!-- <label><input type="checkbox" [checked]="item.completed" (change)="itemSelected(item)"/> {{item.text}}</label> -->
			<label>{{item.text}}
				<app-dropdown></app-dropdown>
			</label>
		</li>
	</ul>
	<h1>Completed tasks</h1>
	<ul *ngFor="let item of todoList">
		<li *ngIf="item.completed">
			<label><input type="checkbox" [checked]="item.completed" (change)="itemSelected(item)"/> {{item.text}}</label>
		</li>
	</ul>
	</div>
</div>