<!--The content below is only a placeholder and can be replaced.-->
<div fxLayoutAlign="center" >
	<mat-card fxLayout="column" fxLayoutGap="10px">
		<md-card-title><b>Simple Task Manager</b></md-card-title>
		<md-card-content>
			<div>
				<mat-form-field>
					<input matInput required placeholder="Title" type="text" [(ngModel)]="taskTitle" />
				</mat-form-field>
				<mat-form-field>
					<textarea matInput required matTextareaAutosize (keyup.enter)="newTask()" placeholder="Describe your task" type="text" [(ngModel)]="newTaskText"></textarea>
				</mat-form-field>
					<button mat-raised-button type="submit" color="primary" class="btn btn-lg" (click)="newTask()">Add</button>
			</div>
		
			<mat-tab-group>
				<ng-container *ngFor="let status of statusList">
				<mat-tab label={{status}}>
					<ng-container *ngFor="let task of todoList.reverse()">
						<ng-container *ngIf="task.currentStatus === status">
							<mat-card class={{status.toLowerCase()}} style="margin-top: 10px">
								<div>
									<mat-card-title>{{task.title}}</mat-card-title>
								</div>
								<mat-card-content>{{task.text}}</mat-card-content>
								<mat-card-footer>
									<mat-select placeholder="status" [(ngModel)]="task.currentStatus">
										<mat-option *ngFor="let dp_status of statusList" [value]="dp_status">{{dp_status}}</mat-option>
									</mat-select>
								</mat-card-footer>
								<mat-card-actions>
									<button mat-mini-fab color="primary" (click)="editTask(task)"><mat-icon>edit</mat-icon></button>
								</mat-card-actions>		
						</mat-card>						
						</ng-container>
					</ng-container>
				</mat-tab>
				</ng-container>
			</mat-tab-group>
		</md-card-content>
	</mat-card>
</div>